@model MatchApplication.Models.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="row page-header">
        <div class="col-md-12">
            <h1 class="display-3" align="center">Lag et nytt passord</h1>
        </div>
    </div>

    <br />

    <div class="container" align="center">
        <div class="col-md-8">

            @using (Html.BeginForm("ChangePassword", "ForgotPasswordPage", "Post"))
            {
                @Html.AntiForgeryToken()

                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Nytt passord" })
                <br />
                @Html.PasswordFor(m => m.ConfirmedPassword, new { @class = "form-control", placeholder = "Gjenta passord" })
                <br />

                <input type="submit" value="Send" class="btn btn-lg btn-primary btn-block" />
            }

            @if (Model.ErrorMessage != null)
            {
                <br />
                <div class="col-md-8">
                    <div class="alert alert-danger form-control">@Model.ErrorMessage</div>
                </div>
            }

        </div>
    </div>

}
else
{
    <div class="row page-header">
        <div class="col-md-12">
            <h1 class="display-3" align="center">Du er allerede logget inn</h1>
        </div>
    </div>
}