@model MatchApplication.Models.Pages.FrontPage
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>
@foreach (var item in Model.FrontPageContent.FilteredItems)
{
    <div>
        <a href="@Url.ContentUrl(item.ContentLink)">Lenke</a>
    </div>
}