@model MatchApplication.Models.Pages.FrontPage
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@foreach (var item in Model.FrontPageContent.FilteredItems)
{
    <div>
        <a href="@Url.ContentUrl(item.ContentLink)">Lenke</a>
    </div>
}