@model MatchApplication.Models.ViewModels.MatchEventViewModel

<div class="popup-overlay">
	<div class="popup-content">
		<h2>ASD</h2>
		<p>@Model.Test</p>
		<button class="closePopup">Close</button>
	</div>
</div>

