@model MatchApplication.Models.Blocks.PenaltyKickBlock

@{
    Layout = null;
}

<div>
    <!--content link her til spiller, og image for hver blokk-->
    <h4>STRAFFE!</h4>
    <span>@Html.PropertyFor(m => m.FirstName) skal ta straffen i det @Html.PropertyFor(m => m.Minute) minuttet.</span>
    <p>@Html.PropertyFor(m => m.Description)</p>

</div>