@model MatchApplication.Models.Blocks.SubstituteBlock

@{
    Layout = null;
}

<div>
    <!--content link her til spiller, og image for hver blokk-->
    <h4>SPILLERBYTTE!</h4>
	<span>@Html.PropertyFor(m => m.FirstName) ut og @Html.PropertyFor(m => m.Substitute) inn i det @Html.PropertyFor(m => m.Minute) minuttet.</span>
	<p>@Html.PropertyFor(m => m.Description)</p>
</div>