@model MatchApplication.Models.Blocks.YellowCardBlock

@{
    Layout = null;
}

<div>
    <!--content link her til spiller, og image for hver blokk-->
    <h4>GULT KORT!</h4>
    <span>@Html.PropertyFor(m => m.FirstName) i det @Html.PropertyFor(m => m.Minute) minuttet.</span>
    <p>@Html.PropertyFor(m => m.Description)</p>

</div>